*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.dropWrapper{
    border: 1px solid #ababab;
    padding: 50px;
    box-shadow: inset 0px 0px 20px 15px rgba(0,0,0,0.2);

}
.drop{
    padding: 50px;
    border: 1px dashed brown;
    text-align: center;
    color:#ccc;

}
p{
    transition: all 0.2s ease-in-out;
    font-size: 1.5em;

}
i{
    opacity: 0;
    visibility: hidden;

}
&.active{
    .drop{
        background: green;

    }
    p{
        transform: translateY(-50px);
    }
    i{
        opacity: 1;
        visibility: visible;
        color: #ffffff;
        font-size: 1.5em;
        animation: moveDown .9s infinite;
    }
}
@keyframes moveDown{
    from{
        transform: translateY(-20px);

    }to{
        transform: translateY(20px);

    }

    }
    .mainTable{
        thead{
            background: red;
            color: #ffffff;
    
        
    }
}
